/*@import 'nativescript-theme-core/css/core.forest.css';*/


/*StackLayout {
  margin-left: 30;
  margin-right: 30;
  padding-bottom: 15;
  background-color: white;
}*/



ActionBar{
    background-color:  white;
    color: black;

}

button{
	font-size: 24px;
	background-color: #76B3E8;
  height:90;

}

.fontawesome-icon {
   font-family: 'fontawesome-webfont';
   font-size: 24px;
}