
StackLayout {
  margin-left: 30;
  margin-right: 30;
  padding-bottom: 15;
  background-color: white;
}
Image {
  margin-top: 5;
  margin-bottom: 20;
}


button:highlighted { 
    background-color: #f49fab; 
}

ActionBar{
    background-color:  #3C5AFD;
    color: white;

}
