
.leftSubButton{
    width:33%;
    height:100;
    font-size: 18;
    background-color:#e5f1f3;
}


.rightSubButton{
    width:33%;
    height:100;
    font-size: 18;
    background-color:#efedec;
}

button{
	font-size:28;
}